.cardbox{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 50px;
    height: 500px;

}
.hover{
    transition:ease-in 0.2s ;
}
.hover:hover{
  transform: scale(1.03);
}
.container{
  width: 95%;
  margin: auto;
  display: flex;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  grid-gap: 1rem;
  flex-wrap: wrap;
  
}
.boxsection h2{
      text-align: center;
      padding: 2rem;
      font-weight: 550;
      font-size: 1.5rem;
  }
  .textsection{
    text-align: center;
    text-align: center;
      margin-top: 2rem;
      font-weight: 550;
      font-size: 1.5rem;
  }
@media (max-width: 1618px){
  .container{
      justify-content: center;
  }
  
}